.main {
    width: 100%;
    margin-top: 30px;

    h1 {
        text-align: center;
    }
}

.aiResponse {
    height: 350px;
    width: 550px;
    top: 20%;
    left: 30%;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    
    flex-direction: column;
    border: 3px solid black;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    h1 {
        text-align: center;
    }

    button {
        height: 50px;
        width: 90px;
        margin: 0 auto;
    }

}

img {
    width: 5rem;
    height: 5rem;
}

.user_part {
    background-color: #045b6c;
    color: #eeeee4;
    height: 150px;
    width: 250px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            height: 4rem;
            width: 4rem;
            font-family: 'Lato', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            background-color: #76b5c5;
            border: 2px solid azure;
            border-radius: 20px;
        }

        button:hover {
            cursor: pointer;
            background-color: #045b6c;
            border: 2px solid black;
            color: azure;
            transition: 0.3s;
        }
    }

}

.winner {
    height: 150px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        height: 70px;
        width: 120px;
        margin-top: 20px;

    }

    button:hover {
        cursor: pointer;
        background-color: #045b6c;
        border: 2px solid black;
        color: azure;
        transition: 0.4s;
    }
}

.main_button {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #76b5c5;
    border: 1px solid black;
    border-radius: 20px;
}

.main_button:hover {
    cursor: pointer;
    background-color: #045b6c;
    border: 2px solid black;
    color: azure;
    transition: 0.4s;
}
.matches_box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px
}


@media screen and (max-width: 415px) {
    .aiResponse {
        height: 150px;
        width: 250px;
        top: 30%;
        left: 10%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin: 0;
        }
    }
}

@media screen and (min-width: 415px) {
    .aiResponse {
        height: 150px;
        width: 250px;
        top: 19%;
        left: 31%;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin: 0;
        }
    }
}

@media screen and (min-width: 1000px) {
    .aiResponse {
        height: 350px;
        width: 550px;
        top: 20%;
        left: 30%;
        
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            margin: 0;
        }
    }
}